.jumbotron {
    text-align: center;
    background: white;
}

.container {
    background: white;
}

#loginbox {
      margin-top: 2%;
      margin-bottom: 2%;
  }

#content {
    margin-top: 10%;
    margin-bottom: 3%;
}

.row {
    margin-top: 4%;
}

.pizzaImg {
    border: 10px solid transparent;
    margin-bottom: 25px;
    
}
.pizzaImg:hover {
    border-color: #ff5c33;
}
